@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/glacial-indifference-2');

.container{
    font-family: 'Poppins', Helvetica, sans-serif;
    --darkcolor: #2E0A24;
    --shadowcolor:rgba(46, 10, 36, 0.403);
    --pcolor: #FB8F3B;
    --ocolor: #FFB46E;
    --scolor: #FFE2C4;
    --wcolor: #FFFCF5;
    --grcolor: linear-gradient(90deg, rgb(28, 192, 145) 0%,#3edd83 100%);
    --gr2color: rgb(71, 212, 139);
    --r2color: rgb(255, 111, 111);
    --rcolor: linear-gradient(90deg,rgb(233, 53, 59) 0%,#f85c5c 100%);

    --otransition: linear-gradient(120deg,  rgb(247, 125, 91)0%, rgba(255, 169, 82, 0.904) 100%);
    --o2transition: linear-gradient(90deg, rgba(255,193,116,1) 0%, rgba(255,215,171,1) 100%);
    --beigetransition: linear-gradient(90deg, #fff9f0 0%,#ffe8cf 100%);
  
  
    position: absolute;
    left: 0;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    background: linear-gradient(90deg, #fff8e9 0%,#e2d6cd 100%);
    overflow-x: hidden;
    overflow-y: hidden;
  
    height: 100vh;
    width: 100vw; 
  
  }

  .container h1, .container h2{
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 800;
}

  
  
  .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
  
    overflow-y: scroll;
  
  
    margin-top: 8vh;
    height: 100vh;
    width: 100vw;
  }
  



.formcard{
    background-color: antiquewhite;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 70%;
    border-radius: 20px;

    background: linear-gradient(90deg, #fff9f0 40%,#ffe8cf 100%);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);

}

.left{
    /* background-color: aquamarine; */
    background: linear-gradient(120deg,  rgb(247, 125, 91)0%, rgba(255, 169, 82, 0.904) 100%);
    position: relative;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px   0px   0px  20px;

    transition: ease 0.3s color 0.5s background 0.5s;


}



.icon{
    position: absolute;

    width: 40%;
    height: 40%;

    /* background-color: #F7931E; */
    color: var(--wcolor);
    

    transition: ease 0.3s;
    z-index: 2;
    
}


.leftmodalopen .icon {
    position: absolute;
    top: 20%;

    color:rgb(243, 255, 249);

    width: 40%;
    height: 40%;
    transition: ease 0.3s color 0.5s background 0.5s;
    z-index: 2;

    transform: translateY(-40px);
  }


.confirmationmodal{

    background: linear-gradient(-60deg, rgb(0, 187, 125) 0%,  rgb(80, 241, 136) 80%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: ease 0.3s color 0.5s background 0.5s;

    padding-top: 180px;
}

.confirmationmodal p{
    /* background-color: palevioletred; */
    font-size: 25px;
    font-weight: bold;
    color: var(--wcolor);

    text-align: center;

}

.okbtn{
    width: 150px;
    display: inline-block;
    padding: 0.8vw 1vw;
    background-color:  var(--wcolor);
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
    color: var(--pcolor);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.okbtn:hover{
    background:  var(--otransition);
    color: var(--wcolor);
    box-shadow:0px 2px 10px  var(--shadowcolor);
    transform: translateY(-2px);
}

.okbtn:active {
    transform: translateY(1px);
    box-shadow: none;
    }    






.right{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 100%;

    border-radius: 0px   20px   20px  0px;
}


.right h2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-size: 35px;
    font-weight: bold;
    margin-bottom: -0.5%;
    /* background-color: #F7931E; */
    z-index: 1;
  }




.formdetails{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    /* background-color: paleturquoise; */
    
    margin-left: 8%;
    font-size: 18px;
  }




    .fieldcontainer {
        display: flex;
        align-items: center;
        margin-bottom: -18px; 
        /* background-color: palegoldenrod; */
    }

    .fieldname {
        font-weight: bold;
        width: 200px; 
        margin-right: 0px; 
        /* background-color: palevioletred; */
    }

     
    .fieldvalue {
        flex-grow: 1;
        /* background-color: palegreen; */
    }






.formcard input{
    background-color :rgba(255, 197, 158, 0.518);
    border: solid 3px   transparent;
    padding: 0.2vw;
    outline: none;
    
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
}

.formcard select{
    background-color :rgba(255, 197, 158, 0.518);
    border: solid 3px  transparent;
    width: auto;
    font-size: 16px;    
    padding: 0.2vw;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    
    
}

.formcard textarea{
    background-color :rgba(255, 197, 158, 0.518);
    border: solid 3px  transparent;
    width: 200px;    
    padding: 0.2vw;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
}


.btncontainer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
    
    /* background-color: aqua; */
    width: 100%;
    z-index: 1;
}

.createbtn{
    width: 150px;
    display: inline-block;
    padding: 0.8vw 1vw;
    background:  var(--otransition);
    box-shadow: 0px 2px 2px  var(--shadowcolor);
    color: var(--wcolor);
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.createbtn:hover{
    background:  var(--beigetransition);
            color: var(--pcolor);
            box-shadow:0px 2px 10px  var(--shadowcolor);
    transform: translateY(-2px);
}

.createbtn:active {
    transform: translateY(1px);
    box-shadow: none;
    }    


