@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the container takes up the whole viewport height */
    background-color:  var(--pcolor);
    font-family: 'Poppins', sans-serif;
    background-image: url('/loginbg3.jpg');
    --darkcolor: #2E0A24;
    --shadowcolor:rgba(46, 10, 36, 0.403);
    --pcolor: #FB8F3B;
    --ocolor: #FFB46E;
    --scolor: #FFE2C4;
    --wcolor: #FFFCF5;
    --grcolor: linear-gradient(90deg, rgb(28, 192, 145) 0%,#3edd83 100%);
    --gr2color: rgb(71, 212, 139);
    --r2color: rgb(255, 111, 111);
    --rcolor: linear-gradient(90deg,rgb(233, 53, 59) 0%,#f85c5c 100%);

    --otransition: linear-gradient(120deg,  rgb(247, 125, 91)0%, rgba(255, 169, 82, 0.904) 100%);
    --o2transition: linear-gradient(90deg, rgba(255,193,116,1) 0%, rgba(255,215,171,1) 100%);
    --beigetransition: linear-gradient(90deg, #fff9f0 0%,#ffe8cf 100%);



  }


  .card {
    position: relative;
    display: flex;
    background-color: var(--wcolor);
    border-radius: 30px;
    width: 1000px;
    height: 730px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(0,0,0,0.15);
  }

  .card:hover .span {
    width: 90px;
  }

  .learnlyimg {
        /* background-color: bisque; */
        background: var(--beigetransition);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0px 0px  30px;
    width: 90%;
}
    .learnlyimg img {
        height: 95px;
        padding: 40px;
}

    .right {
        display: flex;
        flex-direction: column;
        background-color: rgb(253, 249, 240);
        justify-content: center;
        align-items: left;
        width: 100%;
        border-radius: 0px 30px 30px 0px;
        padding: 0px 60px 60px 60px;

    } 

    .span {
        position: absolute;
        background-color: var(--pcolor);
        width: 20px;
        height: 6px;
        border-radius: 30px;
        top: 14%;
        left: 48%;
        transition: 0.8s;
      }
          
      
      
    .title h1 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
      position: relative;
      top: 40px;
      font-family: 'Montserrat', Helvetica, sans-serif;
      font-weight: 700;

    }
  
    .title p{
      font-size: 17px;
      margin-top: 100px;
    }

    .radio_tile_group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px;
    }
    
    .input_container {
        position: relative;
        height: 100px;
        width: 100px;
        margin: 4px 20px 4px 20px;
        transition: transform 0.5s;
    }
    
    .input_container input {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
    }
    
    .input_container .radio_tile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        border: solid;
        border-width: 3px;
        border-color: var(--pcolor);
        border-radius: 20px;
        transition: transform 0.2s, box-shadow 0.2s;
    }
    
    .studico {
        font-size: 30px;
        color: var(--pcolor);
    }
    .tutorico {
        font-size: 30px;
        color: var(--pcolor);
    }
    
    .input_container label {
        position: relative;
        color:var(--pcolor);
        font-size: 14px;
        top: 15px;
        font-weight: 600;
    }
    
    
    input:checked + .radio_tile {
        background: var(--otransition);
        transform: translateY(-2px);
        box-shadow: 0 0 9px var(--pcolor);
    }
    
    input:hover + .radio_tile {
        transform: translateY(-2px);
        box-shadow: 0 0 9px var(--pcolor);
    }
    
    input:checked + .radio_tile .studico,
    input:checked + .radio_tile .tutorico,
    input:checked + .radio_tile label {
        color: aliceblue;
    }

    
    .inputcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        margin: 20px 0;
        width: 100%;
        gap: 1rem;
        
      }
    
      .inputgroup {
        display: flex;
        flex-direction: column;
      }
      
      .label {
        font-weight: bold;
        font-size: 15px;
        padding: 0px 0px 8px 8px ;
      }
      
      .inputwrapper {
        display: flex;
        align-items: center;
      }
      
      .inputwrapper .icon {
        position: absolute;
        right: 0;
        right: 20px;
        color: var(--pcolor);
      }
    
          .eyebtn {
            background-color: transparent;
            outline: none;
            border: none;
            position: absolute;
            color:var(--pcolor);
            right: 0;
            right: 12px;
            bottom: 12px;
          }
    
          .eyebtn:hover {
            transform: translateY(-2px);
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
          }
          
          .eyebtn:active {
            transform: translateY(1px);
            box-shadow: none;
          }
    
    

      .name {
            background-color: rgba(255, 180, 115, 0.25);
            width: 100%;
            font-size: 1rem;
            padding: 3%;
            outline: none;
            border: solid 3px  transparent;
            border-radius: 20px;	          
        }     

        .name::placeholder {
            color: #f7921e89;
          }

      
    
      .email {
        background-color: rgba(255, 180, 115, 0.25);
        width: 100%;
        font-size: 1rem;
        padding: 3%;
        outline: none;
        border: solid 3px transparent;
        border-radius: 20px;
        
      }
    
      .email::placeholder {
        color: #f7921e89;
      }

      .pass {
        background-color:rgba(255, 180, 115, 0.25);
        width: 100%;
        font-size: 1rem;
        padding: 3%;
        outline: none;
        border: solid 3px  transparent;
        border-radius: 20px;
      }
    
      .pass::placeholder {
        color: #f7921e89;
      }


      .btncontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
      }
    
      .errormessage {
        position: absolute;
        bottom: 1%;
        color: red;
        font-weight: 600;
        text-shadow: 0px 0px 0.5px  red ;
      }


    
      
      .button {
        /* width: 100px; */
        display: inline-block;
        padding: 0.7vw;
        padding-inline: 2vw;
        background:  var(--otransition);
    box-shadow: 0px 2px 2px  var(--shadowcolor);
    color: var(--wcolor);
        border: none;
        border-radius: 15px;
        font-size: 1rem;
        font-size: 0.9vw;
    font-weight: 600;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
      }
      
      .button:hover {
        background:  var(--beigetransition);
    color: var(--pcolor);
    box-shadow:0px 2px 10px  var(--shadowcolor);
    transform: translateY(-2px);
      }
      
      .button:active {
        transform: translateY(1px);
        box-shadow: none;
      }
    
      .signuplink p {
        color: #1818186c;
        text-align: center;
        font-size: 14px;
      }